.container {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  /* margin: 0; */
  height: 65px;
  width: 100%;
  padding: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  background-color: white;
}
.container#blur .active {
  filter: blur(20px);
}
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: grey;
  text-decoration: none;
}
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: grey;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  height: 35px;
  width: 38px;
}
.nav_links {
  display: inline-block;
  padding: 0px 0px;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav_links li a {
  position: relative;
  transition: all 0.3s ease 0s;
  justify-content: space-between;
}
.nav_links li a:hover {
  color: rgb(167, 214, 236);
}
.nav_links a:hover {
  color: rgb(167, 214, 236);
  border-radius: 30px;
  /* padding: 7px; */
}
.anchoricon {
  justify-content: space-between;
  cursor: pointer;
  margin-right: auto;
  font-size: x-large;
  color: rgb(190, 182, 182);
  height: 45px;
  width: 40px;
}
#explore {
  padding: 5px;
  color: black;
  border: none;
  box-shadow: none;
  margin-left: -600px;
  background: transparent;
}
#explore:hover {
  color: rgb(167, 214, 236);
  border-radius: 30px;
  padding: 6px;
}
#showlogin {
  /* padding: 5px; */
  background: transparent;
  cursor: pointer;
}
#showlogin:hover {
  color: rgb(167, 214, 236);
  padding: 6px;
}
#createlogin {
  /* padding: 5px; */
  background: transparent;
  border-radius: 50px;
  cursor: pointer;
}
#createlogin:hover {
  color: rgb(167, 214, 236);
  border-radius: 30px;
  /* padding: 6px; */
}

/* popup1 SignIn */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.popup1 {
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 350px;
  padding: 20px 30px;
  background-color: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}
.popup1.active {
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}
.popup1 .closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background-color: #888;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.popup1 .form1 h2 {
  text-align: center;
  color: #222;
  margin: 10px 0px 20px;
  font-size: 25px;
}
.popup1 .form1 .formelement {
  margin: 15px 0px;
}
.popup1 .form1 .formelement label {
  font-size: 14px;
  color: #222;
}
.popup1 .form1 .formelement input[type="text"],
.popup1 .form1 .formelement input[type="password"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.popup1 .form1 .formelement input[type="checkbox"] {
  margin-right: 5px;
}
.popup1 .form1 .formelement button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #222;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}
.popup1 .form1 .formelement a {
  display: block;
  text-align: right;
  font-size: 15px;
  color: #1a79ca;
  text-decoration: none;
  font-weight: 600;
}

/* popup2 SignUp */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.popup2 {
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 350px;
  padding: 20px 30px;
  background-color: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}
.popup2.active {
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}
.popup2 .closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background-color: #888;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.popup2 .form2 h2 {
  text-align: center;
  color: #222;
  margin: 10px 0px 20px;
  font-size: 25px;
}
.popup2 .form2 .formelement {
  margin: 15px 0px;
}
.popup2 .form2 .formelement label {
  font-size: 14px;
  color: #222;
}
.popup2 .form2 .formelement input[type="text"],
.popup2 .form2 .formelement input[type="password"],
.popup2 .form2 .formelement input[type="number"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.popup2 .form2 .formelement input[type="checkbox"] {
  margin-right: 5px;
}
.popup2 .form2 .formelement button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #222;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}
.popup2 .form2 .formelement a {
  display: block;
  text-align: right;
  font-size: 15px;
  color: #1a79ca;
  text-decoration: none;
  font-weight: 600;
}
.menubar {
  border-bottom: 1px solid rgb(167, 161, 161);
  width: 99%;
  margin-left: 8px;
  height: 60px;
  position: sticky;
  top: 0;
}
#showBottomPart {
  position: sticky;
  top: 0;
}
