.navcontainer{
    position: sticky;
    top: 0;
    /* box-sizing: border-box; */
    /* margin: 0; */
    height: 0px;
    width: 100%;
    padding: 0px;
    background-color: white;
    margin-bottom: 43px;
    /* border: 1px solid red; */
}

li,a,button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: grey;
    text-decoration: none;
}
a,button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: grey;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8%;
    height: 40px;
    /* border: 1px solid red; */
}

.logo{
    cursor: pointer;
    margin-right: auto;
    height: 35px;
    width: 38px;
}
.nav_links{
    display: inline-block;
    padding: 0px 10px;
    /* border: 1px solid red; */
} 
.nav_links li{
    display: inline-block;
    padding: 10px 10px;
    height: 40px;
    /* border: 1px solid red; */
}
.nav_links li a{
    position: relative;
    transition: all 0.3s ease 0s;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.nav_links li a:hover{
    color: rgb(167, 214, 236);
}
.nav_links a:hover{
    color: rgb(167, 214, 236);
    border-radius: 30px;
    padding: 7px;
}
.anchoricon{
    justify-content: space-between;
    cursor: pointer;
    margin-right: auto;
    font-size: x-large;
    color: rgb(190, 182, 182);
    height: 35px;
    width: 40px;
}
#explore{
    padding: 5px;
    color: black;
    font-size: 15px;
    margin-left: -800px;
    background: transparent;
    border-radius: 50px;
    border: none;
}
#explore:hover{
    color: rgb(167, 214, 236);
    border-radius: 30px;
    padding: 6px;
}
.usericon{
    padding: 0px;
    background: transparent;
    border-radius: 50px;
    cursor: pointer;
    border: none;
}
.usericon:hover{
    color: rgb(167, 214, 236);
    border-radius: 30px;
    padding: 0px;
}
.fal{
    font-size: large;
    padding: 15px;
}

#usericon {
    float: right;
    background:white;
    cursor: pointer;
}
#content{
    border-radius: 5px;
    /* height: 100px;
    background-color: white ; */
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
#content >p{
  line-height:22px;
}

#dropdownbar{
    width: 100%;
    height:70px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    background-color: #fdfdfd;
    margin-bottom: 3px;
  }
  #dropdownInside{
    width:80%;
    height:90%;
    margin: auto;
    display: flex;
    column-gap: 10%;
    justify-content: space-between;
    align-content: center;
  
  }
  #dropdownInside > div:nth-child(1){
    width: 70%;
    max-height: fit-content;
    text-align: center;
    font-size:14px ;
    padding-top:10px; 
    color:#8c8f94;
  }
  #dropdownInside > div:hover{
    cursor: pointer;
  }
  
  #phone{
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 10px;
    text-align: center;
    font-size:14px ;
    padding-top:20px; 
    color:#8c8f94;
    line-height: 15px;
  }
  #chat,#FAQ{
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 10px;
    text-align: center;
    font-size:14px ;
    padding-top:20px; 
    color:#8c8f94;
    line-height: 15px; 
  }
  #help::first-line ,#innerPhone::first-line{
    font-weight: bold;
    font-size: 15px;
  }